body {background-color: black;
}
input[type=text] {
    width: 50%;
    padding: 0px 5px;
    margin: 2px ;
    color: white;
    background-color: black;
}
input[type=text]:disabled {
    width: 20%;
    padding: 0px 5px;
    margin: 2px ;
    color: white;
    background-color: black;
}

input[type=password] {
    width: 50%;
    padding: 0px 5px;
    margin: 2px ;
    color: white;
    background-color: black;
}

input[type=submit] {
    background-color: black;
    border: 1px solid #ddd;
    color: white;
    padding: 2px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=number]{
    width: 30%;
    background-color: black;
    border: 1px solid #ddd;
    color: white;
    padding: 2px 10px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
}
input[type = date]{
    width: 50%;
    padding: 0px 5px;
    margin: 2px ;
    color: white;
    background-color: black;
}
label{
    color: white;
}
legend{
    color: white;
}
